
.filter-select-list img {
  margin-right: 30px;
}

.filter-select-list:hover .tags {
  color: #fff;
}
.filter-select-list {
  cursor: pointer;
  padding: 5px 10px;
}
.repo-name {
  display: inline-block;
  position: absolute;
}
.filter-select-list:hover {
  background:  #4267b2;
  color: #fff
}
.borderl{
  border: 1px solid #29487d;
  border-radius: 5px;
}


